/* src/components/NavBar.css */
.navbar {
    background-color: #f8f8f8; /* A light background color */
    padding: 1rem 2rem; /* Some padding around the nav bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow */
    display: flex;
  justify-content: center; 
  }
  
  .nav-list {
    list-style: none; /* Remove default list bullets */
    margin: 0;
    padding: 0;
    display: flex; /* Arrange items horizontally */
    justify-content: space-between;
    width: 50%;
  }
  
  .nav-item {
    margin: 0 15px; /* Space between links */
  }
  
  .nav-link {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Dark grey color for text */
    font-size: 1rem;
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .nav-link:hover {
    color: #007bff; /* Change color on hover */
  }